node_modules/
*/node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
*/dist/

.DS_Store
Thumbs.db

.env
*/.env

storage/
*/storage/

/cevibraz-web/.vite/
/cevibraz-web/dist/
/cevibraz-web/node_modules/

.vscode/

.DS_Store